# Основные зависимости
aiogram>=3.3.0
aiohttp>=3.9.0
python-dotenv>=1.0.0
aiofiles>=23.2.1

# Обработка данных и изображений
Pillow>=10.2.0
requests>=2.31.0
pandas>=2.2.0
plotly>=5.19.0

# Зависимости aiogram и aiohttp
aiosignal>=1.3.1
annotated-types>=0.6.0
attrs>=23.2.0
certifi>=2024.2.2
frozenlist>=1.4.1
idna>=3.6
magic-filter>=1.0.12
multidict>=6.0.4
pydantic>=2.6.1
pydantic-core>=2.14.5
typing-extensions>=4.9.0
yarl>=1.9.4